@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

html {
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
	background-color: #f3f4f6;
	color: black;
}
html.dark {
	background-color: #161616;
	color: #f0fdfa;
}
body {
	font-size: 16px;
	line-height: 19px;
	font-weight: 400;
	background-color: aliceblue;
}
