@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
	@keyframes fadeIn {
		from {
			opacity: 0;
			transform: scale(0.95);
		}
		to {
			opacity: 1;
			transform: scale(1);
		}
	}

	.animate-fadeIn {
		animation: fadeIn 0.2s ease-out;
	}
}

html {
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
	background-color: #f3f4f6;
	color: black;
}
html.dark {
	background-color: #161616;
	color: #f0fdfa;
}
body {
	font-size: 16px;
	line-height: 19px;
	font-weight: 400;
	background-color: aliceblue;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
	-moz-appearance: textfield; /* Firefox */
}
